<!DOCTYPE html>
<html>

<head>
  <title>Room {{ room_id }}</title>
  <script src="https://unpkg.com/peerjs@1.5.5/dist/peerjs.min.js"></script>
  <link rel="stylesheet" href="../style.css">

</head>

<body>

<div class="app">
  <div class="tabs">
    <button onclick="showSend()" ><span class="emoji">📩</span>Send</button>
    <button onclick="showReceive()"><span class="emoji">📥</span>Receive</button>
  </div>
  
  <div class="topbar">
    WebDrop
  </div>
  
<div id="sendPanel" >
  
  <ul id="peerList">
  
      <!-- <div class="peer" id="a44b790e-bd65-478e-a6d1-6bc5f4321b45">
        <div class="name">
          <span class="dot green"></span>
          hawk7756
        </div>

        <button onclick="selectPeer('a44b790e-bd65-478e-a6d1-6bc5f4321b45')">
          Select
        </button>
      </div>
     -->
  </ul>
<!---
<div class="peer">
  <div class="name">
    <span class="dot green"></span>
    fox123
  </div>

  <div class="actions">
    <button>Select</button>
  </div>
</div> -->
  <div class="send-options">
    <div class="subsend-options">
      <input type="file" id="fileInput" class="file-box">
      <button id="fileBtn">Send file</button>
    </div>
    <div class="subsend-options">
      <input id="textInput" class="text-box"  placeholder="Type a message...">
      <button id="sendBtn">Send text</button>
    </div>
  </div>
</div>

  <div id="receivePanel" style="display:none;">
    
    <h3 id="displayname"></h3>
    <h3 id="recvstatus">Waiting for incoming transfers...</h3>
    <div class="receive-center" id="incoming"></div>
    
  </div>
  <script>
    const ROOM_ID = "{{ room_id }}"

  </script>

  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='room.js') }}"></script>
</body>

</html>
